---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <Navigation />
    </header>

    <main>
      <h1>Astro</h1>
      <p>Jeg har en bestemt farve?</p>
      <!-- <Card header="Hey betch" text="Lorem ipsum dollar">
        <img src="/healthyheat.webp" alt="" />
      </Card> -->
      <Button variant="primary" size="large">Text</Button>
      <Button variant="secondary" size="medium">Text</Button>
    </main>
  </body>
</html>
