---
---

<div class="navTop">
  <div class="navArrows">
    <img src="/icons/back-btn.svg" alt="" />
    <img src="/icons/forward-btn.svg" alt="" />
  </div>
  <div class="navItems">
    <p>Premium</p>
    <p>Support</p>
    <p>Download</p>
    <div class="verticalLine"></div>
    <p>Tilmeld dig</p>
    <button>Log på</button>
  </div>
</div>

<style>
  .navTop {
    display: flex;
    justify-content: space-between;
    background: #009f58;
    color: black;
    font-size: 1rem;
    padding-block: 0.5rem;
    font-family: "Lato";
    font-weight: bold;
  }

  .navArrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding-left: 3rem;
  }

  .navArrows img:hover {
    background-color: white;
    cursor: pointer;
  }

  .navArrows img {
    border-radius: 20px;
    background-color: #029251;
    padding: 0.5rem;
  }

  .navItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  .navItems p:hover {
    color: white;
    cursor: pointer;
  }

  .verticalLine {
    height: 50%;
    width: 1px;
    background-color: white;
    margin-inline: 1rem;
  }

  button {
    padding: 1rem 2.2rem;
    background-color: white;
    color: black;
    margin-left: 1rem;
    margin-right: 3rem;
    border: 0;
    border-radius: 30px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 0.9rem;
  }

  button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }
</style>
